@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=JetBrains+Mono:wght@400;500&display=swap');
@import url('/ma.css');

body {
  margin: 0;
  padding: 0;
  background: var(--ma-bg);
  color: var(--ma-fg);
}
